@model PontoSimples.Models.ViewModels.PontoFormViewModel
@{
    ViewData["Title"] = "Registro de Ponto";
}
<h2>@ViewData["Title"]</h2>
<h4>Procure seu nome na lista para registrar o ponto</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Ponto.FuncionarioId" asp-items="@(new SelectList(Model.Funcionarios,"Id","Nome"))"
                        class="form-control">
                    <option id="opcaoNull">Escolha seu nome</option>
                </select>
                @*<span asp-validation-for="Ponto.FuncionarioId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="button" value="Salvar" class="btn btn-primary" data-toggle="modal" data-target="#modal" />
            </div>


            <div class="modal fade" id="modal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Registro de Ponto</h4>
                        </div>
                        <div class="modal-body">
                            <p>Registro salvo com sucesso</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">OK</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
