@model PontoSimples.Models.Setor

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Setores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodigoSetor" class="control-label"></label>
                <input asp-for="CodigoSetor" class="form-control" />
                <span asp-validation-for="CodigoSetor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeSetor" class="control-label"></label>
                <input asp-for="NomeSetor" class="form-control" />
                <span asp-validation-for="NomeSetor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Salvar" class="btn btn-primary" data-toggle="modal" data-target="#modal" />
            </div>

            <div class="modal fade" id="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Setores</h4>
                        </div>
                        <div class="modal-body">
                            <p>Registro alterado com sucesso</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">OK</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
